<configuration>

    <!-- Logstash로 전송하는 Appender 추가 -->
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>127.0.0.1:6000</destination>
<!--        이게 가능한 이유는 동일한 ec2 안에서 jar 파일과 docker 기반 ELK 이 함께 동작하기에 -->
<!--           * 이러면 보안그룹은 열지 않아도 되고, 방화벽은 애매함-->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <!-- 로그 레벨 설정 -->
    <root level="info">
        <appender-ref ref="LOGSTASH" />
    </root>

</configuration>